html {
    min-height: 100%;
    position: relative;
    font-family: 'Crimson Text', serif;
  }

body{
    background-image: url(../img/piesfondo.png);
    font-size: 1em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom:20px;
}

.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:black;
    color: white;
    text-align: center;
    line-height: 90vh;
}

.splash.display-none{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background:black;
    z-index: -10;
    color: white;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s; 
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    size: 2em;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

#contenedorLogo1{
    display:-webkit-flex;
    flex-wrap:initial;
    flex-grow: initial;
    opacity: 70%;
    margin: 0;    
    border-color: #213838;
    backdrop-filter: blur(30px);    
}

#contenedorLogo1 h1{
    font-weight: bold;
    color: rgb(250, 249, 249);
    text-shadow: 4px 4px 12px #070707;
    font-size: xx-large;
    margin-inline-start: 10em;
    margin-top: 3em;
}

.logo{
    opacity:80%;
    display: flex;
    flex-wrap: wrap;  
    display:block;
    width: 12em;
    height: 12em;  
} 

footer{
    position:absolute;
    background-color: #4a7c7c;  
    backdrop-filter: blur(30px);
    opacity: 70%;
    width: 100%;
    bottom: 0;
}

#datosContacto{
    color:white;
    font-style: oblique;
    font-size: 1em; 
    text-align: center;
    backdrop-filter: blur(30px);
}

/* PAGINA INDEX*/

#videopies{
    display: -webkit-flex;
    justify-content:left;
}

#videopies video{
   margin-left: 8rem;
   margin-top: 2rem ;
}

#frase{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2px;
    margin-top: 2px;
    justify-content: center;
    text-shadow: 2px 2px 4px blanchedalmond;
}

#frase p{
    font-size: xx-large;
    font-family: 'Crimson Text', serif;
    text-align: center;
}

/*PAGINA GALERIA*/

.centrado{
    margin: 0 auto;
    padding: 0 .8em;
}

@media screen and (min-width:52em){
    .centrado{
        margin: 0 auto;
        padding: 0 .6em;
    }
}/*fin media*/

.tarjeta{
    margin-bottom: 0;
    width: 16em;
    justify-content: center;
}

.tarjeta-content{
    border: 2px solid  black;
    width: 16em;
    height: 15em;
    align-items: baseline;
}

.tarjeta a{
    color:black;
    text-decoration: dotted ;
}

.tarjeta a:hover{
box-shadow: 3px 3px 8px rgb(12, 12, 12);
}

.tarjeta-content h4{
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 3px #a0f7f7;
}

.tarjeta-content p{
    font-size: small ; 
    padding-left: 1em; 
    text-align: left;
    text-shadow: 2px 2px 3px #a0f7f7;
}

.thumbnail{
    margin: 0;
    justify-content: space-between;
}

.thumbnail img{
    display:block;
    border: 4px;;
    width: 16em;
    height: 15em;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: whitesmoke;
    opacity: 90%;
    margin-top:0;
    margin-bottom: 0;
    padding: 5px;  
}

/*PAGINA FORMACION ACADEMICA*/

.educacionT{
    display: flex;
    flex-wrap: wrap;
    background: white;
    opacity:70%;
    font-family: 'Crimson Text', serif; 
    font-size: 1.3em;
}

/*PAGINA CONTACTO*/

#formularioGoogle{
    opacity:80%;
    display:-webkit-flex;
    flex-wrap: initial;
    margin-bottom: 10px;
}

.logo{   
     width: 11%;
     height: 11%;
}

/*---------------------------------------------------------------*/
/*           RESPONSIVE AREA  / AREA ADAPTATIVA                  */
/*---------------------------------------------------------------*/


@media all and (min-width:600px)and (max-width:1023px){

    #datosContacto{
        font-size: .8em; 
        padding-bottom: 0px;
        backdrop-filter: blur(30px);
    }

    /*PAGINA HOME*/

    #videopies video{
        margin: 10px 0 0 15px;
        padding:0;
        flex-flow:column wrap;
    }

    #frase p{
        font-size: x-large;
    }

    /*PAGINA FORMACION ACADEMICA*/
    
    #contenedorLogo1 h1{
        font-size: x-large;
        margin-inline-start: 5em;
        margin-top: 1em;
    }

    .educacionT{
        padding: 0;
        font-size: 1em;
    }

    .educacionT li{
        line-height: 1em
    }

    .titulosE h2{
        font-size: 1.6em;
    }
 
    /*PAGINA GALERIA*/
    
    .tarjeta-content{
        width: 16em;
        height: auto;
        align-items: baseline;
    }
    

    .tarjeta-content p{
        font-size: smaller ; 
        padding-left: 1em auto; 
        text-align: left;
        flex-wrap: wrap;
    }

    .thumbnail img{
        border: 1px;;
        width: 16em;
        height: auto;
    }
    /*PAGINA CONTACTO*/

    #formularioGoogle{
        margin-bottom: 10px;
    }

} /*fin de media de 600 a 1023 px*/

/*responsive desde width599*/
@media all and (max-width:599px){
    
    #datosContacto{
        font-size: .6em; 
        padding-bottom: 0px;
    }
    
    .logo{
        width: 20%;
        height: 20%;
    }

   /*PAGINA HOME*/
    #videopies video{
        margin:0;
        padding:0;
        justify-content:space-around;
    }

    #frase p{
        font-size: large;
    }

    /*PAGINA FORMACION ACADEMICA*/

    #contenedorLogo1 h1{
        font-size: large;
        margin-inline-start: 2em;
        margin-top: 0.5em;
    }

    .titulosE{
        padding: 0;
        font-size: 0.8em;
    }

    .titulosE h2{
        font-size: 1.4em;
    }

    .educacionT li{
        line-height: 0.8em;
    }
    /*PAGINA GALERIA*/

    .tarjeta-content{
        align-items: baseline;
    }

    .tarjeta-content h4{
        font-size: 1em;
    }

    .tarjeta-content p{
        font-size: small ; 
    }

    /*PAGINA CONTACTO*/

    #formularioGoogle{
        margin-bottom: 20px;
    }
}
